/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

header {
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
  background-position: 0 0;
  color: white;
  height: 500px;
  text-align: center;
}

.main-content {
  padding: 50px 15%;
}

h1 {
  padding-top: 250px;
}

h2 {
  padding-top: 30px;
}

ul {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

ol {
  padding-left: 20px;
  padding-top: 20px;
}

ol.custom-marker {
  counter-reset: list;
}

ol.custom-marker > li {
  list-style: none;
  counter-increment: list;
}

ol.custom-marker.parens-after.decimal > li::marker {
  content: counter(list) ")\a0";
}

img {
  width: 40%;
  margin: auto;
  display: block;
  padding: 20px 0 10px 0;
}
